:root {
  --primary-color: hsl(273, 75%, 66%);
  --secondary-color: hsl(240, 73%, 65%);
  --tertiary-color: hsl(237, 12%, 33%);
  --quaternary-color: hsl(240, 6%, 50%);
  --quinary-color: hsl(240, 5%, 91%);
  --white-color: white;
}
.mobile-only {
  display: initial !important;
}
.desktop-only {
  display: none !important;
}

body {
  padding: 20px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(var(--primary-color), var(--secondary-color))
    no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 100px;
  position: relative;
  width: 100%;
  max-width: 296px;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 15px;
}
.card-hero {
  position: absolute;
  top: 0;
  left: -3%;
  width: 100%;
  transform: translateY(-55%);
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 296px;
}
.mobile-only.woman {
  position: relative;
  right: 2.5%;
}
.mobile-only.plataform {
  position: absolute;
  top: 0;
  right: -2.5%;
  margin-right: 30px;
  transform: translateY(105%);
}
@media screen and (max-width: 330px) {
  .mobile-only.woman {
    position: relative;
    margin-left: 3px;
  }
  .mobile-only.plataform {
    margin-right: 25px;
  }
}
@media screen and (max-width: 300px) {
  .mobile-only.plataform {
    margin-right: 0px;
  }
  .mobile-only.woman {
    position: relative;
    margin-left: -3.5px;
  }
}
.card-faq {
  padding: 20px;
  margin-top: 80px;
}

.faq-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.faq-list {
  list-style: none;
}
.faq-item {
  padding-top: 10px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--quinary-color);
  cursor: pointer;
}

.faq-item.active .title-item::after {
  transform: rotate(180deg);
}

.faq-item.active .title-item {
  font-weight: bold;
}

.faq-item + .faq-item {
  margin-top: 10px;
}

.title-item {
  font-weight: normal;
  position: relative;
  color: var(--quintenary-color);
}

.title-item.active {
  padding-bottom: 20px;
}

.title-item::after {
  content: url(./images/icon-arrow-down.svg);
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.2s ease-out;
}

.paragraph-item {
  display: none;
}
.paragraph-item.active {
  display: initial;
  color: var(--quaternary-color);
}
@media screen and (min-width: 900px) {
  body {
    padding: 50px;
  }
  .card {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    max-width: 1000px;
    max-height: 515px;
    padding-left: 0;
  }
}