:root {
  --primary-color: hsl(273, 75%, 66%);
  --secondary-color: hsl(240, 73%, 65%);
  --tertiary-color: hsl(237, 12%, 33%);
  --quaternary-color: hsl(240, 6%, 50%);
  --quinary-color: hsl(240, 5%, 91%);
  --senary-color: #ff4800;
  --white-color: white;
}
.mobile-only {
  display: initial !important;
}
.desktop-only {
  display: none !important;
}

body {
  padding: 20px;
  width: 100%;
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(var(--primary-color), var(--secondary-color))
    no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 100px;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 296px;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 15px;
}
.card-hero {
  position: absolute;
  top: 0;
  left: -3%;
  width: 100%;
  transform: translateY(-55%);
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 296px;
}
.mobile-only.woman {
  position: relative;
  right: 2.5%;
}
.mobile-only.plataform {
  position: absolute;
  top: 0;
  right: -2.5%;
  margin-right: 30px;
  transform: translateY(105%);
}
@media screen and (max-width: 330px) {
  .mobile-only.woman {
    position: relative;
    margin-left: 3px;
  }
  .mobile-only.plataform {
    margin-right: 25px;
  }
}
@media screen and (max-width: 300px) {
  body {
    margin-top: 20px;
    padding: 0px;
  }

  .mobile-only.plataform {
    margin-right: 0px;
  }
  .mobile-only.woman {
    position: relative;
    margin-left: -3.5px;
  }
}
.card-faq {
  padding: 20px;
  margin-top: 80px;
}

.faq-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.faq-list {
  list-style: none;
}
.faq-item {
  padding-top: 10px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--quinary-color);
  cursor: pointer;
}

.faq-item.active .title-item::after {
  transform: rotate(180deg);
}

.faq-item.active .paragraph-item {
  visibility: visible;
  color: var(--quaternary-color);
  height: 40px;
}
.faq-item.active .title-item {
  padding-bottom: 20px;
  color: var(--quartenary-color);
  font-weight: bold;
}

.faq-item + .faq-item {
  margin-top: 10px;
}
.title-item:hover {
  color: var(--senary-color);
}
.title-item {
  font-weight: normal;
  position: relative;
  color: var(--quintenary-color);
}

.title-item::after {
  content: url(./images/icon-arrow-down.svg);
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.2s ease-out;
}

.paragraph-item {
  visibility: hidden;
  height: 0;
}

@media screen and (min-width: 700px) {
  body {
    padding: 50px;
  }
  .mobile-only {
    display: none !important;
  }
  .desktop-only {
    display: initial !important;
  }
  .card {
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    max-width: 1034px;
    height: 550px;
    background-image: url(images/illustration-woman-online-desktop.svg),
      url(images/bg-pattern-desktop.svg);
    background-size: 50%, 50%;
    background-repeat: no-repeat;
    background-position-y: center, center;
    background-position-x: -15%, -15%;
  }

  .card-hero {
    position: relative;
  }

  .illustration-box {
    position: absolute;
    left: -90px;
    top: 44%;
  }
  @media screen and (max-width: 1020px) {
    .illustration-box {
      position: absolute;
      z-index: 2;
      left: -85px;
      bottom: 75px;
      width: 170px;
    }
  }
  @media screen and (max-width: 860px) {
    .illustration-box {
      position: absolute;
      z-index: 2;
      left: -80px;
      bottom: 95px;
      width: 150px;
    }
  }

  .card-faq {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0;
  }

  .faq-title {
    text-align: left;
    margin-bottom: 38px;
  }

  .faq-list {
    max-width: 80%;
  }
}
